* {
    margin: 0;
    padding: 0;
}

#infoSection {
    background-image: url("./images/r3.jpg");
    background-position: bottom center;
    background-size: initial;
    height: 90vh;
    background-repeat:no-repeat;
    /*box-shadow: inset 0 0 500px 2px #ffffff;*/
}


#content {
    height: 100%;
}

#pageHeader {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 5rem;
    color: gold;
    padding-bottom: .5rem;
}

#infoSection {
    background-color: rgb(66, 61, 61);
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: calc(100vh - 14rem);
    color: rgb(252, 218, 30);;
    text-shadow:black 2px 2px;
}

#pageFooter {
    background-color: black;
    height: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 9rem;
    color: gold;
}

#navList {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30vw;
    align-items: flex-end;
}

#name {
    margin-left: 5rem;
    margin-top: .5rem;
    font-size: 3rem;
}

.navBtn {
    list-style-type: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

#hoursTitle {
    padding-top: 1rem; 
    height: 2rem;
}

#contactTitle {
    padding-top: 1rem;
    height: 2rem;
}

#menuInfo {
    font-size: 3.5rem;
    text-decoration: underline .2rem;
}

.menuSection {
    font-size: 2.5rem;
    text-decoration: underline dotted .1rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.itemName {
    font-size: 1.75rem;
}

.foodItem {
    font-size: 1.25rem;
    padding: .5rem;
    text-align: center; 
}

#missionStatement {
    font-size: 2.25rem;
    margin: auto;
    color: rgb(252, 218, 30);;
    text-shadow:black 2px 2px;
}

#aboutContainer {
    font-size: 3.25rem;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    color: rgb(252, 218, 30);;
    text-shadow:black 2px 2px;
}

#aboutInfo {
    font-size: 1.5rem;
    width: 45rem;
    color: rgb(252, 218, 30);;
    text-shadow:black 2px 2px;
}